@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Ephesis&family=Libre+Baskerville&family=Lora&family=Open+Sans:wght@300;400;500;700;800&family=Outfit:wght@200;400;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
}

body{
    height: 100vh;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

header{
    display: flex;
    justify-content: space-between;
    padding: 7px 55px;
    background-color: #0E2A56;
    box-shadow: 0px 6px 5px #18181842;
    position: relative;
    z-index: 3;
}
    .logo{
        width: 100px;
    }
    .user-div{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }
        .user-div a{
            background-color: transparent;
            border-color: transparent;
            display: flex;
            align-items: center;
            color: white;
        }
        .user-placeholder{
            height: auto;
            width: 36px;
            margin: none;
            justify-content: center;
            align-items: center;
        }
        .username{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -1px;
        }
/*fim header*/
main{
    display: flex;
    flex-direction: row;
}
    .left-side{
        width: 15vw;
        height: 88vh;
        display: flex;
        align-items: top;
        justify-content: left;
        background-color: #0E2A56;
        border-right: 4px solid #469CF7;
        box-shadow: 5px 0px 5px #b8b8b8b4;
        margin: 0;
        z-index: 2;
    }
        nav.menu-lateral{
            width: 100%;
            height:87%;
            background-color: transparent;
            padding-top: 20px;
            padding-left: 5px;
            display: flex;
            flex-direction: column;
            font-family: 'Outfit', sans-serif;
            font-weight: 400;
        }
            .menu-lateral ul li a{
                display: flex;
                color:#e6e6e6;
                padding-bottom: 5px;
                padding: 15px 6%;
                margin: 0px;
            }
                .menu-lateral .check{
                    background-color: #469CF7;
                    border-radius: 8px 0px 0px 8px;
                    color: rgb(255, 255, 255);
                }
                .menu-lateral ul li a .txt-link{
                margin-left: 7px;
                }
                .item-menu a:hover{
                    color: #ffffff;
                }

/*tela de exibição*/

.right-side{
    width: 85vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(224, 224, 224);
    z-index: 1;
}
    .card-interface{
        height: 100%;
        width: 100%;
        border-style:solid;
        border-color: rgb(219, 219, 219);
        background-color: white;
        justify-content: center;
        align-items: center;
    }
    .card-corresp{
        height: 95%;
        width: 97%;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        padding: 20px 20px;
        border-radius: 23px;
        border-width: 2px;
        border-style:solid;
        border-color: #e0e0e0;
        background-color: rgb(253, 253, 253);
        gap: 0px;
    }
        .card-top{
            display: flex;
            flex-direction: row;
            margin: 0;
            width: 100%;
            height: 10vh;
            align-items: center;
            justify-content: space-between;
        }   
            .div-button{
                display: flex;    
                align-items: center;
                justify-content: left;
            }
                .nova-corresp{
                    background-color: #469CF7;
                    color: white;
                    width: 100%;
                    border: none;
                    border-radius: 4px;
                    font-weight: 700;
                    cursor: pointer;
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    padding: 5px 20px;
                }
                .nova-corresp:hover{
                    background-color: #0e4dcc;
                }
                .period-show{
                    display: flex;
                    flex: row;
                    gap: 10px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    color: gray;
                }
            .div-search{
                display: flex;    
                flex-direction: row;
                align-items: center;
                justify-content: right;
            }
                .period-search{
                    display: flex;
                    flex: row;
                    gap: 10px;
                    font-family: 'Poppins', sans-serif;
                }
                .period-submit{
                    background-color: #469CF7;
                    color: white;
                    width: 100%;
                    border: none;
                    border-radius: 4px;
                    font-weight: 700;
                    cursor: pointer;
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    padding: 5px 10px;
                    margin-left: 16px;
                }
                .period-submit:hover{
                    background-color: #0e4dcc;
                }
        .card-bottom{
            display: flex;
            width: 100%;
            height: 75vh;
        }
            .message-box{
                width: 100%;
                display: flex;
                height:fit-content;
                border-radius: 4px;
                border-width: 1px;
                border-style:solid;
                border-color: #e0e0e0;
                background-color: rgb(253, 253, 253);
                cursor: pointer;
            }
            .message-box:hover{
                background-color: rgb(235, 236, 255);
            }
                .message-top{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-left: 5px;
                    margin-top: 10px;
                    margin-bottom: 10px;

                }
                    .message-data{
                        display: flex;
                        flex-direction: column;
                        line-height: 15px;
                        padding-left: 12px;
                    }

                .message-bottom{
                    display: flex;
                    align-items: center;
                    margin-left: 25px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 15px;
                }