@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Ephesis&family=Libre+Baskerville&family=Lora&family=Open+Sans:wght@300;400;500;700;800&family=Outfit:wght@200;400;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100vh;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

header{
    display: flex;
    justify-content: space-between;
    padding: 5px 55px;
    background-color: #0E2A56;
    box-shadow: 0px 6px 5px #18181842;
    position: relative;
    z-index: 3;
}
    .logo{
        width: 100px;
    }
    .user-div{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }
        .user-div a{
            background-color: transparent;
            border-color: transparent;
            display: flex;
            align-items: center;
            color: white;
        }
        .user-placeholder{
            height: auto;
            width: 36px;
            justify-content: center;
            align-items: center;
        }
        .username{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -1px;
        }
/*fim header*/
main{
    display: flex;
    flex-direction: row;
}
    .left-side{
        width: 15vw;
        height: 88vh;
        display: flex;
        align-items: top;
        justify-content: left;
        background-color: #0E2A56;
        border-right: 4px solid #469CF7;
        box-shadow: 5px 0px 5px #b8b8b8b4;
        margin: 0;
        z-index: 2;
    }
        nav.menu-lateral{
            width: 100%;
            height:87%;
            background-color: transparent;
            padding-top: 20px;
            padding-left: 5px;
            display: flex;
            flex-direction: column;
            font-family: 'Outfit', sans-serif;
            font-weight: 400;
        }
            .menu-lateral ul li a{
                display: flex;
                color:#e6e6e6;
                padding-bottom: 5px;
                padding: 15px 6%;
                margin: 0px;
                cursor: pointer;
            }
                .menu-lateral .check{
                    background-color: #469CF7;
                    border-radius: 8px 0px 0px 8px;
                    color: rgb(255, 255, 255);
                }
                .menu-lateral ul li a:hover{
                    background-color: #469CF7;
                    border-radius: 8px 0px 0px 8px;
                    color: rgb(255, 255, 255);
                }
                .menu-lateral ul li a .txt-link{
                margin-left: 7px;
                }
                .item-menu a:hover{
                    color: #ffffff;
                }

/*tela de exibição*/

.right-side{
    width: 85vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(224, 224, 224);
    z-index: 1;
}
   .leftright-side{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: top;
    width: 70%;
    height: 100%;
   }
        .top-balloon{
            display: flex;
            flex: row;
            align-items:flex-start;
            justify-content: center;
            background-color: white;
            border-radius: 8px;
            justify-content: space-between;
            margin: 15px;
        }
            .left-part{
                display: flex;
                flex-direction: column;
                padding:12px;
                padding-left: 22px;
                padding-bottom: 16px;
            }
                .top-text{
                    font-family: 'Poppins';
                    font-size: 32px;
                    color: #469CF7;
                    font-weight: 500;
                }
                .bottom-text{
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 14px;
                    font-weight: 500;
                }
            .right-part{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                align-self: center;
            }
                .trocar-apartamento{
                    display: flex;
                    border: none;
                    background-color: transparent;
                    color: gray;
                    cursor: pointer;
                    padding-right: 22px;
                }
                    .trocar-apartamento:hover{
                        color:#0E2A56;
                    }
        .bottom-balloon{
         display: flex;
         flex-direction: row;
         background-color: transparent;   
         height: 100%;
        }
            .bottom-balloon-left{
                display: flex;
                height: 100%;
                width: 80%;
            }
                .user-stats{
                    display: flex;
                    flex-direction: column;
                    font-family: 'Poppins';
                    margin-left: 15px;
                    margin-right: 15px;
                    width: 100%;
                }
                    .stats-value{
                    font-size: 90px;
                    font-weight: 600;
                    margin-left: 15px;
                    margin-bottom: -60px;
                    z-index: 1;
                    }
                    .stats-box{
                        display: flex;
                        background-color: orange;
                        border-radius: 8px;
                        width: 45%;
                        height: 80px;
                        align-items: flex-end;
                        justify-content: flex-end;
                    }
                        .stats-owner{
                            color: white;
                            font-size: 30px;
                            margin: 5px;
                        }
        .bottom-balloon-right{
            display: flex;
            flex-direction: column;
            padding: px;
            background-color: white;
            border-radius: 8px;
            height: 100%;
            width: 30%;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 150px;
        }
    .rightright-side{
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 100%;
    }
        .notification-side-balloon{
            display: flex;
            flex-direction: column;
            padding-top: 15px;
            padding-left: 20px;
            background-color: white;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            margin-top: 15px;
            margin-bottom: 5px;
            height: 100%;
        }
            .notifications{
                display: flex;
                font-family: 'Poppins';
                font-size: 18px;
                border-bottom: 2px solid #469CF7;
                border-radius: 2px;
                margin-right: 15px;
                padding-bottom: 3px;
                margin-bottom: 15px;
            }
            .notification-box{
                font-family: 'Times New Roman', Times, serif;
                margin-bottom: 15px;
            }
                .pinned{
                    color: orange;
                    text-transform: uppercase;
                    font-size: 16px;
                    visibility: visible;
                }
                .notification-top{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-right: 12px;
                }
                    .notification-title{
                        color: #469CF7;
                        font-size: 20px;
                    }
                    .notification-time{
                        color: gray;
                        font-size: 12px;
                        padding-top: 8px;
                    }
                .notification-text{
                    font-family: 'Poppins';
                    font-size: 13px;
                }