@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Ephesis&family=Libre+Baskerville&family=Lora&family=Open+Sans:wght@300;400;500;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto&display=swap');
body{  
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}
.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 65vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #0068ca, #0070d8, #2093ff, #399fff);
}
.left-login > h1{
    font-size: 3vw;
    color: white
}
.logo-section{
    display: flex;
    flex-direction: row;
    height: 10vh;
    padding: 20px;
    padding-right: 70px;
   font-family: 'Lora', sans-serif;
   color: white;
   font-size: 40px;
   letter-spacing: 1px;
   align-items: center;
   justify-content: center;
   
}
    .logo-image{
    display: flex;
    margin: 10px;
    height: auto;
    width: 85px;
    }
    .logo-label{
    display: flex;
    }
        .logo-label:before{
            content: "Gerentia Conm";
        }

.illustration-section{
    display: flex;
    height: 60vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
    .left-login-image{
        width: 35vw;
        display: flex;
        padding-top: 20px;
        padding-left: 50px;
        margin: 0;
    }

.text-section{
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 500;
}
    .destaque{
        font-family: 'Ephesis', sans-serif;
        color: #115994;
        font-size: 65px;
    }
    
.right-login{
    width: 35vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 50px;
    border-radius: 23px;
    border-width: 3px;
    border-style:solid;
    border-color: #e0e0e0;
    box-shadow: 0px 10px 10px #e9e9e9;
    background-color: rgb(253, 253, 253);
    gap: 0px;
}
.card-login > h1{
    color:#0e55e3;
    font-weight: 800;
    margin:0;
}
#social-media{
    display: flex;
    margin-top: 15px;
    margin-bottom: 12px;
    gap: 40px;
}
#social-media img{
    width: 46px;
}
#social-media img:hover{
    transform: scale(1.06);
}
.textfield{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0px;
    width: 100%;
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 12px;
    background: #ffffff;
    color: black;
    border-color: #dbd9d9;
    border-style: solid;
    border-width: 1px;
    font-size: 8pt;
    outline: none;
    box-sizing: border-box;
}
.textfield > label{
    margin-bottom: 3px;
    margin-top: 12px;
    color: rgb(75, 75, 75);
}
#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.input-field{
    display: flex;
    align-content: center;
    gap: 15px;
    padding: 4px;
    cursor: text;
    border-bottom: 2px solid #0d5fa3;
    border-radius: 1px;
}
.input-field input{
    display: flex;
    border: none;
    background-color: transparent;
    width: 220px;
    font-size: 15px;
    padding: 0px 5px;
}
.input-field input:focus{
    outline: none;
}
.row-senha{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 12px 0px;
}

#forgot_password a{
    text-decoration: none;
    font-size: 13px;
    color:#858585;
}
#forgot_password a:hover{
    color: #0e55e3;
}
.btn-login{
    background-color: #0e55e3;
    color: white;
    width: 100%;
    padding: 12px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 5px 10px #c9c9c9;
    margin-top: 40px;
}
.btn-login:hover{
    background-color: #0e4dcc;
}
#terms a{
    text-decoration: none;
    font-size: 11px;
    color:#858585;
}
#terms a:hover{
    color: #0e55e3;
}

/*Responsividade*/
@media only screen and (max-width: 1015px){

    .logo-section{
        letter-spacing: 0;
        font-size: 30px;
    }
    .logo-image{
        width: 115px;
    }
    .logo-label:before {
        content: "GC";
    }
}
@media only screen and (max-width: 850px){

    .left-login{
        width: 50vw;
    }
    .right-login{
        width: 50vw;
    }

}
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
        display: none;
    }
    .left-login-image{
        width: 10vw;
    }
    .right-login{
        width: 90%;
        height: auto;
    }
}